<div class="panel panel-default">
  <div class="panel-heading"><%= page_title %></div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-6">Title</div>
    </div>
    <% wikis.each do |wiki| %>
      <%= render partial: 'wikis/wiki', locals: {wiki: wiki} %>
    <% end %>
  </div>
</div>
<%= link_to "New Wiki", new_user_wiki_path(current_user), class: 'btn btn-success' %>
